{
  "plugins": [
    "babel-plugin-transform-function-bind",
    "transform-runtime"
  ],
  "presets": [
    ["env", {
      "targets": {
        // Note: because babel-preset-env does not yet support reading browserslist file this has to be duplicated
        // See: https://github.com/babel/babel-preset-env/pull/51
        // See: https://github.com/babel/babel-preset-env/pull/51#issuecomment-270085439
        "browsers": ["> 0.5% in my stats", "> 2% in PL"]
      }
    }],
    "stage-0"
  ]
}
