<nav class="navbar">
  <div class="logo">
    <h1><a ui-sref="home">{% verbatim %}{{ $ctrl.name }}{% endverbatim %}</a></h1>
    {{ navbar }}
  </div>
  <div class="nav-links">
    <span><a ui-sref="about">about</a></span>
  </div>
</nav>
