<navbar></navbar>
<h1>{% verbatim %}{{ $ctrl.name }}{% endverbatim %} - page with demos list</h1>

<ol>
  <li><a ui-sref=".standaloneComponent">Standalone component</a></li>
  <li><a ui-sref=".localVsExternalAdapter">Local VS external component adapter</a></li>
  <li><a ui-sref=".remoteConfiguration">Remote configuration</a></li>
  <li><a ui-sref=".remoteConfigurationOfComponents">Remote of (standalone) components</a></li>
</ol>

<div ui-view></div>
