<nav class="navbar">
  <div class="logo">
    <h1><a ui-sref="home">Home</a></h1>
    {{ navbar.someField }}
  </div>
  <div class="nav-links">
    <span><a ui-sref="demos">demos</a></span>
  </div>
</nav>
