@import '../variables';

.navbar {
  height: 6.5rem;
  padding: 1rem;
  background-color: $primary-color;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    margin-right: 50%;
    color: $light-text-color;
  }

  .nav-links span {
    color: $light-text-color;
    font-size: 1.6rem;
  }
}
