@import "common/common";

[ng-app="n6s.app"] {
  display: flex;
  min-height: 100vh;

  n6s-app {
    flex: 1;
  }
}

n6s-app {
  display: flex;

  .appContainer {
    flex: 1;
  }
}

.appContainer {
  height: 100%;
  max-width: 1224px;
  margin: 0 auto;
  background-color: $bgColor;
}
