@import '../../../common/variables';

n6s-remote-configuration-of-components {
  display: block;

  table {
    border-collapse: collapse;

    th {
      background: rgba($black, 0.2);
    }

    td,
    th {
      padding: 0.5em 1ex;
      border: 1px solid $black;
    }
  }
}
